<h1>my first html project </h1>
<code>To CLONE a repository into the home system</code>
<p> command:<i>git clone url</i></p>

<code>To change the current working directory</code>

<p> command:<i>cd directory_name</i></p>

<code>To display all the files with information</code>

<p>command:<i>ls -larth</i></p>

<code>To create file</code>

<p> command:<i>touch file_name.extension</i></p>

<code>To install any software/package in ubuntu</code>
<p> command:<i>sudo apt install package_name</i></p>

<code>To Open file in read mode</code>
<p> command:<i>vim -R</i></p>

<code>To clear the screen</code>
<p> <i>command:ctrl+l</i></p>

<code>To open the file in vim editor</code>
<p>command:<i>vim file_name</i></p>

<code>GIT COMMANDS</code>
<code>To check the status</code>
<p>command:<i>git status</i></p>

<code>To add the untrackked file</code>
<p>command:<i>git add .</i></p>

<code>To commit the file </code>
<p>command:<i>git commit -am "commit message</i></p>

<code>To push the file from the system </code>
<p>command:<i>git push origin master</i></p>

<code>To pull the file in the system</code>
<p>command:<i>git pull origin master</i></p>

<code> VIM EDITOR COMMANDS IN COMMAND MODE </code>

<code>To enter in insert mode</code>
<p> command:<i>i (in command mode)</i></p>

<code>To enter in command mode</code>
<p> command:<i>esc</i></p>

<code>To save and quit </code>
<p> <i>:wq</i>or <i>:x</i>

<code>To view the content of the file</code>
<p> command: <i>cat file_name</i></p>

<code> To copy the command </code> 
<p> command:<i> yy  </i></p>

<code>To paste the line</code>
<p> command:<i>p</i></p>

<code>To undo</code>
<p> command:<i>u</i></p>

<code>To redo</code>
<p> command:<i>ctrl+r</i></p>

<code>To view the open files in vim</code>
<p> command:<i>jobs</i></p>

<code>To minimize</code>
<p> command:<i>ctrl+z</i></p>

<code>To set color in vim</code>
<p> command:<i>:colorscheme murphy</i></p>

<code>To index/ for numbering the line</code>
<p> command:<i>:set number/i></p>

<code>To remove the side numbers</code>
<p> command:<i>:set nonumber</i></p>

<code>To find the particular word</code>
<p> command:<i>/enter_word</i></p>

<code>To check multiple occurence of word</code>
<p> command:<i>n</i></p>

<code>To view the open job</code>
<p> command:<i>fg job_no</i></p>


